<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="INPUT_AUDIO" value="/audio" />
  <arg name="SAVE_DIR" value="save_dir" />
  <arg name="IN_SOUND" value="/sound_detector_volume/in_sound" />

  <node name="mic_8"
        pkg="ave_eccv" type="mic_8.py"
        output="screen" respawn="true">
    <rosparam subst_value="true">
      input_audio: $(arg INPUT_AUDIO)
      save_dir: $(arg SAVE_DIR)
    </rosparam>
  </node>

  <node name="service_client_mic"
        pkg="ave_eccv" type="service_client_mic.py"
        output="screen" respawn="true">
    <rosparam subst_value="true">
      in_sound: $(arg IN_SOUND)
    </rosparam>
  </node>
</launch>
