<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- <arg name="INPUT_AUDIO" default="/tamago1/audio" /> -->
  <arg name="save_dir" default="test_save_dir" />
  <!-- <arg name="ns" default="tamago1" /> -->
  <!-- <arg name="IN_SOUND" default="/sound_detector_volume/in_sound" /> -->

  <node name="mic_8"
        pkg="ave_eccv" type="mic_8.py"
        output="screen" respawn="true">
    <remap from="~input" to="/tamago1/audio" />
    <rosparam subst_value="true">
      save_dir: $(arg save_dir)
    </rosparam>
  </node>

  <node name="service_client_mic"
        pkg="ave_eccv" type="service_client_mic.py"
        output="screen" respawn="true">
    <remap from="~in_sound" to="/sound_detector_volume/in_sound" />
  </node>
</launch>
