<launch>
  <arg name="2d" default="false" />
  <!-- <include file="$(find sound_classification)/launch/classify_sound.launch" > -->
  <!--   <arg name="audio_topic" value="/tamago1/audio" /> -->
  <!--   <arg name="gui" value="false" /> -->
  <!-- </include> -->

  <include file="$(find jsk_perception)/sample/people_pose_estimation_2d.launch" >
    <arg name="gui" value="false" />
    <arg name="GPU" value="0" />
  </include>

  <include file="$(find hark_sound_source_localization)/launch/two_mic2.launch" />

  <group if="$(arg 2d)" >
    <include file="$(find hark_sound_source_localization)/launch/visualize2.launch" />
  </group>

</launch>
